{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
</head>

<body>
    <div style="height:200px;"></div>
    <h1 class="center judul-tabel">Click link below</h1>
    <div style="margin-top: 3rem;"class="center container">
        <h2 class="center judul-tabel">
            <a href="{% url 'index' %}">Tugas 1 (Item)</a>
            <a href="{% url 'index2' %}">Tugas 2 (Bus)</a>
        </h2>
    </div>
    <div style="height:150px;"></div>
    <h5 class="center judul-tabel">Made by : Nico Renaldo</h5>

    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script type="text/javascript" src="{% static 'js/ajax.js'%}"></script>
</body>

</html>

