{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
</head>

<body>
    <div style="margin-top: 3rem;"class="center container">
        <h3 class="center judul-tabel">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'index' %}">Tugas1</a>
            <a href="{% url 'index2' %}">Tugas2</a>
            <a href="{% url 'documentation' %}">Documentation</a>
        </h3>
    </div>
    <div class="container">
        
        <h4 class="center judul-tabel">Add Item </h4>
        {{ form.media }} 
        <form style="margin-left: auto; margin-right: auto;" method="POST" enctype="multipart/form-data" class="luar submitform">
            {% csrf_token %}
            {% for f in form.visible_fields %}

                <div class="form-group">
                    <label for="{{ f.id_for_label }}">{{ f.label}}</label>
                    {{ f|add_class:'form-control' }}
                    {% for error in f.errors %}
                        <span class="alert-danger">{{ error }}</span>
                    {% endfor %}
                </div>

            {% endfor %}
            <div style='text-align: center;'>
                <button class="btn btn-primary" type="submit">Submit Items</button>
                <a class="btn btn-outline-secondary" href="{% url 'index' %}">Cancel</a>
            </div>
        </form>
    </div>
    
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script type="text/javascript" src="{% static 'js/ajax.js'%}"></script>
</body>

</html>