{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
</head>

<body>
    <div style="margin-top: 3rem;"class="center container">
        <h3 class="center judul-tabel">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'index2' %}">Tugas2</a>
            <a href="{% url 'documentation2' %}">Documentation</a>
        </h3>
    </div>
    <div class="container">
        
        <h4 class="center judul-tabel">Detail Item </h4>

    </div>
    
 

    <div class="content-wrapper">     
        <div class="detail-page">
            <div class="container">   

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Day</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Time on road</th>
                        <th>Unique Code</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        
                        <td>{{detail.id}}</td>
                        <td>{{detail.origin.name}}</td>
                        <td>{{detail.destination.name}}</td>
                        <td>{{detail.get_day_display}}</td>
                        <td>{{detail.time_depart|time:"H:i"}}</td>
                        <td>{{detail.time_arrival|time:"H:i"}}</td>
                        <td>{{ detail.travel_time }} Hours</td>
                        <td>{{detail.code}}</td>
                        <td><a href="{% url 'update_schedule' pk=detail.pk %} ">Update</a></td>
                        <td><a href="{% url 'delete_schedule' pk=detail.pk %} ">X</a></td>

                    </tr>

                </table>  
            </div>    
        </div>
    </div>
  
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script type="text/javascript" src="{% static 'js/ajax.js'%}"></script>
</body>

</html>
